[submodule "Plugins/DataTools"]
	path = Plugins/DataTools
	url = git@github.com:capnslipp/DataTools.git
[submodule "Plugins/QCPatchXcodeTemplate"]
	path = Plugins/QCPatchXcodeTemplate
	url = git@github.com:kineme/QCPatchXcodeTemplate.git
[submodule "Plugins/origami"]
	path = Plugins/origami
	url = git@github.com:facebook/origami.git
